.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 77%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 380px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important

.barra-avance__boton--regresar span
    color: white !important

// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

.fa-check-circle:before
  content: url('../assets/curso/t3/link.svg')

// subtitulo

.subt
  background-color: #24383F
  border-radius: 30px
  padding: -10px -20px
  width: fit-content
  position: relative
  display: flex
  .ico
    position: relative
    margin-left: -12px
    padding: 0px
    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px

// bordes, fondos, configuración img

.linea
  line-height: 1

.img-t
  width: auto
  height: auto

.img-a
  display: block
  margin: auto

.borde-redondo
  border-radius: 25px

.borde-recto
  border-radius: 0px

.borde-recto-abajo
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.borde-recto-arriba
  border-top-left-radius: 0px
  border-top-right-radius: 0px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.borde-redondo-derecho
  border-bottom-right-radius: 20px
  border-top-right-radius: 20px

.esquina
  border-top-right-radius: 70px

.bgblanco
  background-color: white

.bgamarillomate
  background-color: #F4EBDB

.bggrismate
  background-color: #D2D6D8

.bggrismateclaro
  background-color: #ECEFED

.bgverdemate
  background-color: #B8C3BB

.bgverdemateclaro
  background-color: #ECEFED

.bgacentocontenido
  background-color: #4F6A57

.bgcolorprimario
  background-color: #24383F

.bgcolorsecundario
  background-color: #C99D52

.bgespecial1
  background: url('../assets/curso/t1/fondo1.png')
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem    

// temas

.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: #BB523D
  color: white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center

.tarjeta.amarillomate
  background-color: #F4EBDB

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: #BB523D
    background-image: url('../assets/curso/t1/flecha.png')
    background-size: 13px 10px

.slyder-a__bullets__item
    background-color: #B8C3BB

.slyder-a__bullets__item--active 
    background-color: #4F6A57
    border-color: #4F6A57

// para que los botones no se estiren en mobile

.slyder-a__bullets__item--active 

@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 11px
        height: 11px
        margin: 0px 0.5px

@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px
    height: 30px

// subtitulo

.mover
  margin-left: 13px


// acordion

.acordion__accion__btn--a
  background-color: #BB523D
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
  color: white

.acordion .tarjeta--azul
  background-color: #F4EBDB

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #E7E9EA
  h3
    color: black

  // Pasos B

.pasos-b__header__btn--left
  background-color: #BB523D
  color: white

.pasos-b__header__btn--right
  background-color: #BB523D
  color: white

.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #CCCCCC
  background-color: white

.pasos-b__header__item__dot i
  color: #CCCCCC

.pasos-b__header__item--before .pasos-b__header__item__line-container:before
  background-color:  #CCCCCC

.pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color:  #CCCCCC

.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
    background-color: #CCCCCC

.uno
  background-color: #111B1F
  p 
    color: white

.dos
  background-color: #111B1F
  p 
    color: white

.tres
  background-color: #111B1F
  p 
    color: white

.tarjeta--boton.uno:hover
  background-color: #E9D7B9
  img
    content: url('../assets/curso/t5/estrella1.png')
  img.principal
    content: url('../assets/curso/t5/tar1verde.png')
  p
    color: black

.tarjeta--boton.dos:hover
  background-color: #E9D7B9
  img
    content: url('../assets/curso/t5/estrella1.png')
  img.principal
    content: url('../assets/curso/t5/tar2verde.png')
  p
    color: black

.tarjeta--boton.tres:hover
  background-color: #E9D7B9
  img
    content: url('../assets/curso/t5/estrella1.png')
  img.principal
    content: url('../assets/curso/t5/tar3verde.png')
  p
    color: black
